html {
    color: #000000;
    min-height: 100%;
   
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}
body {
    max-width: 1200px;
    position: relative;
    margin: 40px auto 15px;
    font: 100 14px/1.5 "Trebuchet MS", Helvetica, SimSun, sans-serif;
}
p, ul, li, table {
    margin: 0;
    padding: 0;
}

a {
    color: #EE5C42;
    text-decoration: none;
}
a:hover {
    color: #000000;
    text-decoration: underline;
}

}

input:focus, a:focus, button:focus {
    box-shadow: 0 0 3px #cb0;
    -webkit-box-shadow: 0 0 3px #cb0;
    -moz-box-shadow: 0 0 3px #cb0;
}

h1, h2, h3, h4, h5, h6 { 
    font-family: "Microsoft Yahei", sans-serif;
    margin: 0;
    padding: 0.15em 0;
}
h1 {
    font-size: 1.7em;
    padding-bottom: 0.1em;
    color: #000000;
    margin-bottom: 0.5em;
    margin-top: 0;
}
h2 {
    font-size: 1.52em;
    /*border-bottom: 1px solid #29362E;*/
    /*border-bottom: 1px solid rgba(255,230,0,0.1);*/
    color: #000033;
    margin-top: 1em;

}
h3 {
    font-size: 1.22em;
    color: #000022;
    width: 80%;
    /*border-bottom: 1px dashed #29362E;*/
    /*border-bottom: 1px dashed  rgba(255,230,0,0.1);*/
    margin-top: 0.9em;
    margin-bottom: 0.4em;
}
h4 {
    font-size: 1.15em;
    color: #000011;
    margin-top: 0.8em;

}
h5 {
    font-size: 1.05em;
    color: #000000;

}
h6 {
    font-size: 1.0em;

}
p, pre, blockquote, table, ul, ol, dl {
    margin: 0.5em 0 1em;
}
ul ul, ul ol, ol ol, ol ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

}
li {
    margin: 0.3em auto;
    list-style-position: inside;

}
ol, ul {
    margin-left: 1em;
    padding-left: 0.5em;

}
dt {
    font-weight: bold;

}
img {
    border: none;

}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

code {
    padding: 2px 4px;
    color: #cae3b6;
    font-family: 'Lucida Console', 'Courier New', Courier, monospace;
}

blockquote, pre {
    padding: 0.8em;
    background: #39213E;
    background: rgba(255,30,120,0.12);
    border: 1px solid #614;
    position: relative;
    z-index: 2;
    font-family: 'Lucida Console', 'Courier New', Courier, monospace;
    -webkit-transition: all 0.45s linear;
    -moz-transition: all 0.45s linear;

}
blockquote {
    background: rgba(255,30,120,0.1);
    border: 1px solid rgba(230,0,20,0.2);
}
blockquote:hover, pre:hover {
    color: #eee;
    background: rgba(255,30,120,0.25);
}

pre {
    border-left: 1px solid #c26;
    margin-left: 1em;
    padding: 0.4em 0.8em;

}
table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid #256;
    padding: 0.3em 0.5em;

}
th {
    background-color: #f0f0f0;

}
hr {
    border: none;
    border-top: 3px double #035;
    width: 100%;
    margin: 20px 0;
}
del {
    text-decoration: line-through;
    opacity: 0.6;
}
strong, b {
    color: #000222;
    font-weight: 600;
}
em, i {
    font-family: Candara, "Microsoft Yahei", sans-serif;
    font-style: italic;
}
/*}}}*/

textarea {
    background: transparent;
    color: #fff;
    resize: none;
}

.tocWrap {
    position: fixed; 
    width: 200px;
    z-index: 100;
    top: 16%;
    right: 2.8%;
    display: none;
}

.toc {
    background: none repeat scroll 0 0;
    border: 1px solid #999999;
    border-radius: 0 0 1px 1px;
    box-shadow: 0 1px 8px #000000;
    color: #999999;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 12px;
}
.tocWrap .toggler {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 0 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    text-align: center;
    z-index: 101;
}
.toc ul {
    margin: 0;
}
.toc li {
    color: #002222;
}
.toc a {
    color: #002222;
}

.todo {
    font-weight: bold;
    background-color: #f0ece8;
    color: #a03020;
}
.justleft {
    text-align: left;

}
.justright {
    text-align: right;

}
.justcenter {
    text-align: center;

}
.center {
    margin-left: auto;
    margin-right: auto;
}

#all {
   border-width: 0 12px;
}

#main {
    padding: 10px 20px;
    position: relative;
}

#header {
    border-top: 1px dashed #246;
}
#top-nav {
    position: relative;
    top: -25px;
    width: 280px;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
}

#top-nav li {
    float: left;
    list-style: none;
    margin-right: 10px;
}

#top-nav a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1px;
    box-shadow: 0 1px 3px #000000;
    color: #000000;
    display: block;
    padding: 6px 20px;
    text-shadow: 0 1px 0 #000000;
    transition: all 0.45s linear 0s;
}

#top-nav a:hover, #top-nav a:focus {
    color: #f3f3f3;
    border-color: rgba(255,255,255,0.35);
    box-shadow: 0 1px 0px rgba(10,10,0,0.6);
    -webkit-box-shadow: 0 1px 0px rgba(10,10,0,0.6);
    -moz-box-shadow: 0 1px 0px rgba(10,10,0,0.6);
}

#footer {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    margin-top: 20px;
    text-align: center;
}


#footer p {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0;
    padding: 1em;
}

#footer a{
    color: #967;
}
#footer a:hover {
    border-bottom: 1px solid #967;
}

/*----*/
#no-comment { /* 用于指示不显示评论 */
    display: none;
}

.lesser {
    border: 1px solid #194058;
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
}
.lesser .hd {
    cursor: pointer;
    text-align: center;
    background: rgba(20,120,80,0.1);
}
.lesser .hd * {
    font-weight: 100;
    width: auto;
    font-size: 14px;
    color: #aed;
    margin: 0;
}
.lesser .cont {
    display: none;
}

iframe {
    position: relative;
}

/*google cse*/
#cse {
    position: static;
    right: 10px;
    top: 10px;
    
}
#cse .gsc-branding {
    display: none;
}
#cse .gsc-adBlock {
    display: none;
}
#cse td {
    border: 0;
}
#cse .gsc-search-button {
    display: none;
}
div.gsc-clear-button {
    opacity: 0.6;
    margin: 0;
}
#cse .gsc-control-cse div {
}
#cse .gsc-control-cse div.gsc-resultsbox-visible {
    width: 61.8%;
    position: absolute;
    z-index: 300;
    right: -5px;
    top: 50px;
    background: #E3E6E8;
    background: rgba(255,255,255,0.88);
    border: 5px solid #125C39;
    border: 0 solid rgba(0,0,0,0);
    outline: 5px solid rgba(10,190,30,0.3);
    color: #222;
    padding: 15px;
}
#cse .gs-result .gs-title, .gs-result .gs-title *{
    text-decoration: none;
    background: #fff;
    padding: 2px 3px;
    margin-bottom: 2px;
    color: #369;
    font-size: 14px;
}
#cse .gs-result .gs-title *:hover {
    color: #fff;
    background: #246;
}
#cse .gsc-resultsHeader {
    display: none;
}
#cse .gsc-results {
    width: 100%;
}
#cse .gsc-result {
    margin: 0;
}
#cse .gs-no-results-result {
    text-align: center;
}
#cse table.gsc-search-box {
    width: 15em;
    float: right;
}
#cse input.gsc-input {
    background: #1D3148;
    background: rgba(140,180,255,0.1);
    border: 1px solid #134;
    padding: 4px 5px;
    color: #444;
    outline: 0;
    width: 12em;
}

#cse .gs-result b {
    color: #c30;
}
#cse .gs-result .gs-title b {
    font-weight: bold;
}
#cse .gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl {
    margin-bottom: 10px;
}
#cse .gsc-resultsHeader {
    border: 0;
}

#cse .gsc-cursor-box {
    margin: 10px 0 5px;
}

#cse .gsc-results .gsc-cursor-box .gsc-cursor-page {
    padding: 0.2em 0.5em;
    text-decoration: none;
    border: 1px solid #e83;
    color: #a33;
    background: #ffe;
}
#cse .gsc-results .gsc-cursor-box .gsc-cursor-page:hover {
    background: #ffd;
}
#cse .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    cursor: default;
    border: 1px solid #ea9;
    background: rgba(255,255,255,0.4);
}
#cse .gsc-results .gsc-cursor-box .gsc-cursor-current-page:hover {
    background: rgba(255,255,240,0.2);
}

#cse input.cesbg {
    background-repeat: no-repeat;
    background-position: 5px 50%;
}


