{{ define "main" }}
  {{ partial "header.html" . }}
  <section class="archive">
    {{- $showHeader := true -}}
    {{- if and (eq .Kind "term") (eq .Data.Plural "tags") -}}
      {{- $whitelist := .Site.Params.tagTitleWhitelist | default (slice "summary" "about me") -}}
      {{- $whitelistLower := apply $whitelist "lower" "." -}}
      {{- $showHeader = in $whitelistLower (lower .Title) -}}
    {{- end -}}
    {{- if $showHeader -}}
      <h1 class="header">{{ .Title }}</h1>
    {{- end -}}
    <ul class="post-archive">
      {{- $p := .Paginate (.Pages.ByDate.Reverse) -}}
      {{- range $p.Pages -}}
        <li class="post-item">
          <time class="post-date">{{ .Date.Format "2006-01-02" }}</time>
          <a class="post-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{- end -}}
    </ul>
  </section>
  {{ partial "paginator.html" $p }}
  {{ partial "footer.html" . }}
{{ end }}
