{{- define "main" }}

{{- if not .IsHome | and .Title }}
<header class="page-header">
  <h1>{{ .Title }}</h1>
</header>
{{- end }}

{{- if .Content }}
<div class="post-content">
  {{- if not (.Param "disableAnchoredHeadings") }}
  {{- partial "anchored_headings.html" .Content -}}
  {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

{{- $pages := union .RegularPages .Sections }}

{{- if and (eq .Kind "section") (eq .RelPermalink "/series/ai-bu-yin/") }}
{{- $firePosts := where site.RegularPages "Params.categories" "intersect" (slice "火·AI") }}
{{- $pages = union $pages $firePosts }}
{{- end }}

{{- if .IsHome }}
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- $pages = where $pages "Params.hiddenInHomeList" "!=" "true"  }}
{{- end }}

{{- $pages = sort $pages "Date" "desc" }}
{{- $paginator := .Paginate $pages }}

{{- range $index, $page := $paginator.Pages }}
<article class="post-entry-simple">
  <time>{{ $page.Date.Format "2006-01-02" }}</time>
  <a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
</article>
{{- end }}

{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
  <nav class="pagination">
    {{- if $paginator.HasPrev }}
    <a class="prev" href="{{ $paginator.Prev.URL | absURL }}">← 上一页</a>
    {{- end }}
    {{- if $paginator.HasNext }}
    <a class="next" href="{{ $paginator.Next.URL | absURL }}">下一页 →</a>
    {{- end }}
  </nav>
</footer>
{{- end }}

{{- end }}