{{ define "main" }}

<div class="page">
  <article class="post">
    <h1>{{ .Title | emojify }}</h1>

    {{- $cover := "" }}
    {{- with .Params.cover }}
      {{- if reflect.IsMap . }}
        {{- $cover = .image | default "" }}
      {{- else }}
        {{- $cover = . }}
      {{- end }}
    {{- end }}
    {{- if $cover }}
    <div class="post-cover">
      <img src="{{ $cover | relURL }}" alt="{{ .Title }}" />
    </div>
    {{- end }}

    <div class="post-content">
      {{ .Content }}
    </div>

    <div class="post-meta">
      <time>{{ .Date.Format "2006-01-02" }}</time>
    </div>
  </article>
</div>

{{ partial "footer.html" . }}
{{ end }}
